.me{
    color: #d64;
    color: #fde3aa;
    color: #b25;
    color: #903c78;
    color: ##15141f;
    color: #8e2;
}
let items = document.getElementsByClassName('items')
items.forEach(item => {
    item.onclick = "'" + hi() + "'"
    
});